@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

#um-c{
    width:80%;
    margin: 0 auto;
    border: 0;
}
.home-page{
    width: 100%;
}
#div1-a{
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-clip: inherit;
    background-position: center;
    background-image: url(./image/Image1.png) ;
    background-size: cover;
    & #div1-header-a{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 100px;
        padding-top: 35px;
        & .logo{
            color: var(--Black, #18161D);
            text-align: center;
            font-family: "Yeseva One";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            & span{
                color: var(--Green, #6C8947);
            }
        }
        & ul{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 64px;
            cursor: pointer;
            & li a{
                color: var(--Grey-100, #51575D);
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 200% */
            }
        }
        & .btn1{
            
    gap: 10px;
    & button{
        cursor: pointer;
         background-color: transparent;
         border: 0;   
         color: var(--Black, #18161D);
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 200% */
    border-radius: 4px;
    border: 1px solid var(--Black, #18161D);
    display: inline-flex;
    padding: 12px 16px;
    align-items: flex-start;
    }
        }
    }
    & #div1-center-a{
        margin-top: 109px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
        
        & div{
            color: var(--Black, #18161D);
    text-align: center;
    font-family: "Yeseva One";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
        }
        & p{
            width: 623px;
            color: var(--Grey-100, #51575D);
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 200% */
        }
            }
}
#div2-c{
    width: 100%;
    margin-top: 10px;
    display: flex;
padding: 54px 108px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
/* margin-bottom: 100px; */
& .div5-top{
    color: var(--Black, #18161D);
text-align: center;
font-family: "Yeseva One";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 40px;
}
& .div5-center{
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  justify-content: center;
  gap: 32px;
}
& .div5-center1{
display: flex;
align-items: center;
justify-content: center;
gap: 32px;
& div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
}
& label{
    color: var(--Black, #18161D);

/* Heading 16 */
font-family: "Yeseva One";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
& input{
    width: 372px;
height: 49px;
flex-shrink: 0;
padding: 20px;
border-radius: 4px;
border: 1px solid rgba(0, 0, 0, 0.07);
background: #FFF;
}
& input::placeholder{
    color: var(--Grey-50, #A3A4A9);
font-family: "Plus Jakarta Sans";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 200% */
}
}
& .div5-center2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    margin-bottom: 32px;
    & label{
        color: var(--Black, #18161D);

/* Heading 16 */
font-family: "Yeseva One";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
    & input{
        width: 776px;
height: 135px;
flex-shrink: 0;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    background: #FFF;
    }
    & input::placeholder{
        color: var(--Grey-50, #A3A4A9);
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 200% */
    }
}
& .btn5 button{
    color: #FFF;
text-align: center;

/* Body 14 */
font-family: "Plus Jakarta Sans";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 200% */
    display: flex;
    width: 166px;
    padding: 14px 0px 10px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
background: var(--Green, #6C8947);
border: 0;
cursor: pointer;
}
}
#div3-c{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
    gap: 61px;

    & >div:nth-of-type(1){
        width: 607px;
        height: 336px;
        flex-shrink: 0;
        background-image: url(./image/Image33.png);
    }
    & >div:nth-of-type(2){
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 70px;
        & .contact{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 33px;
            & div{
                width: 30.72px;
height: 30.72px;
flex-shrink: 0;
                background-image: url(./image/Message.svg);
            }
            & p{
                color: var(--Black, #18161D);

/* Heading 20 */
font-family: "Yeseva One";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 120% */
            }
        }
        & #contact-2{
            & div{
                background-image: url(./image/Location.svg);
            }
        }
        & #contact-3{
            & div{
                background-image: url(./image/Calling.svg);
            }
        }
    }
}
#div4-c{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 52px 100px 42px;
    background: var(--Black, #18161D);
    & .div6-1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center; 
        gap: 24px;
        & .logo1{
            color: #FFF;
text-align: center;
font-family: "Yeseva One";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
& span{
    color: var(--Green, #6C8947);
}
        }
        & p{
            width: 210px;
            color: #FFF;
font-family: "Plus Jakarta Sans";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 200% */
margin-right: 106px;
        }
    }
    & .div6-2{
        margin-right: 80px;
    }
    & .div6-3{
        margin-right: 132px;
    }
    & .div6-2, .div6-3{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 12px;
        & p{
            color: var(--Grey-50, #A3A4A9);
font-family: "Plus Jakarta Sans";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 200% */
        }
        & p:nth-of-type(1){
            color: #FFF;
        }
    }
    & .div6-4{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 11px;
        margin-right: 118px;
        & p{
            color: #FFF;
font-family: "Plus Jakarta Sans";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 200% */
        }
        & .div6-41{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin-bottom: 15px;
            & input{
                width: 243px;
height: 35px;
flex-shrink: 0;
                border-radius: 4px;
                background: rgba(255, 255, 255, 0.12);
                border: 0;
                padding: 6px 13px;
            }
            & button{
                display: inline-flex;
                height: 35px;
                padding: 8px 24px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                flex-shrink: 0;
                border-radius: 4px;
background: var(--Green, #6C8947);
border: 0;
color: #FFF;
text-align: center;
font-family: "Plus Jakarta Sans";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 200% */
            }
        }
        & .div6-42{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 32px;
            & div{
                transition: fill 0.3s, transform 0.3s;
            }
            & div:hover{
                transform: scale(1.1); 
            }
        }
    }
    & .div6-5{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 11px;
        & p{
            color: #FFF;
font-family: "Plus Jakarta Sans";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 200% */
        }
        & div:nth-of-type(1){
            width: 107.484px;
height: 32.307px;
flex-shrink: 0;
            background: url(./image/Image12.png);
        }
        & div:nth-of-type(2){
            width: 108.727px;
height: 32.307px;
flex-shrink: 0;
            background: url(./image/Image13.png);
        }
    }
}
#div5-c{
    display: flex;
    align-items: center;
    justify-content: center;
height: 64px;
flex-shrink: 0;
background: #121016;
color: var(--Grey-50, #A3A4A9);
font-family: "Plus Jakarta Sans";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 200% */
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.9s ease-out, transform 0.6s ease-out;
  }
  .show {
    opacity: 1;
    transform: translateY(0);
  }
button{
    transition: background-color 0.3s ease, transform 0.3s ease;
}
button:hover { 
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }

