@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

div ul{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
ul li a{
    color: var(--Grey-100, #51575D);
text-align: center;
font-family: "Plus Jakarta Sans";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 28px;
cursor: pointer;
}
ul li:nth-of-type(1) {
    margin-right: 240px;
    color: var(--Black, #18161d);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    & span {
      color: var(--Green, #6c8947);
    }
  } 
  ul li:nth-last-of-type(1){
    margin-left: 240px;
  }
 & button {
      cursor: pointer;
      background-color: transparent;
      border: 0;
      color: var(--Black, #18161d);
      text-align: center;
      font-family: "Plus Jakarta Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px; 
      border-radius: 4px;
      border: 1px solid var(--Black, #18161d);
      display: inline-flex;
      padding: 12px 16px;
      align-items: flex-start;
    }
   

 ul li {
    position: relative;
    color: #000;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease;
  } 

 ul li a::after  {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0%;
    background-color: #ffffff;
    transition: width 0.3s ease;
  } 
ul li:nth-last-of-type(1) a::after{
    background-color: transparent;
}
ul li a:hover::after {
    width: 100%;
  } 
ul li a:hover {
    color: #ffffff !important;
  } 
  .btn-li{
    display: none;
  }
  @media (max-width: 768px) {
ul li:not(:nth-of-type(1)){
  display: none;
}
.btn-li{
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #000;
  border-radius: 50%;
  width: 32px;
height: 32px;
flex-shrink: 0;
}
  }
