*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  list-style: none;
}
#um{
  width: 1440px;
  border: 1px solid;
}
.container {
    width: 1440px;
    max-width: 90%;
    margin: 0 auto;
  }
